body{
    background-image: url("../images/background.jpg");
    color: wheat;
}

header{
    height: 150px;
    margin-top: 50px;
    text-align: center;
}

div img {
    width: 100%;
}

p{
    margin: 10px;
    font-size: large;
}
.stats {
    font-size: x-large;
    height: 30px;
    color: #d316b5;
    padding-left: 15%;
    
}

#end-game{
    height: 120px;
    font-family: 'Permanent Marker', cursive;
}

#user-win{
    display: block;
    position: absolute;
    width: 50%;
    visibility: hidden;
    background-image: url("../images/win_background.jpg");
    text-align: center;

}

#user-lost{
    display: block;
    position: absolute;
    width: 50%;
    visibility: hidden;
    background-image: url("../images/lost_background.jpeg");
    text-align: center;

}